.body {
  color: bisque;
  background-color: #002b36;
}
button {
  margin: 7px;
}

pre {
  color: bisque;
  font-family: "Courier New", Courier, monospace;
  float: left;
}

.top-tree-view {
  font-family: "Courier New", Courier, monospace;
  background-color: #1e1e1e;
  padding: 2em;
}
